*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Georgia,serif;
overflow-x:hidden;
background:#f8f4f1;
color:#5c4d4d;
}

.hero{

height:100vh;

background-image:
linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
url("https://images.unsplash.com/photo-1511285560929-80b456fea0bc?w=1600");

background-size:cover;
background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}

.overlay{

animation:fade 2s;

padding:30px;

}

h3{

font-size:30px;

letter-spacing:4px;

margin-bottom:15px;

}

h1{

font-size:75px;

margin-bottom:20px;

}

p{

font-size:22px;

max-width:650px;

line-height:1.7;

margin:auto;

}

button{

margin-top:40px;

padding:18px 45px;

font-size:18px;

border:none;

border-radius:50px;

background:#d4af37;

color:white;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.08);

}

@keyframes fade{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}
